* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: 400;
  background-color: rgb(222, 228, 231);
}

.navbar-container {
  position: fixed;
  top: 0;
  color: red;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.active {
  visibility: visible;
  transition: all 0.2s;
}
.hidden {
  visibility: hidden;
  transition: all 0.2s;
}
ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-top: 10px;
}
.link {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
}
.link:hover {
  color: rgb(36, 65, 190);
}
.profile img {
  margin-top: 4rem;
}
.hero-container {
  display: flex;
  padding: 4rem;
  font-size: 24px;
}
.hero-left {
  width: 50%;
  padding-top: 4rem;
}
.brief-describe {
  padding: 4rem;
}
.social-media {
  padding: 4rem;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 50%;
}
.hero-btns {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.btns {
  border: 1px solid rgb(36, 65, 190);
  padding: 0.7rem 1.2rem;
  font-size: 18px;
  background-color: rgb(36, 65, 190);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.signIn {
  padding: 0.5rem;
}
.about-container {
  padding: 2rem 4rem;
}
.contact-container {
  padding: 2rem 4rem;
  height: 80vh;
}
.experience {
  width: 100%;
}
.title-content {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  padding: 2rem;
}
.content {
  padding: 2rem;
  font-size: 22px;
  text-align: center;
}

.expertise {
  background-color: rgb(36, 65, 190);
  padding: 5rem 4rem;
  margin: 0 8rem;
  max-height: 1200px;
  border-radius: 0 80px 0 80px;
  color: white;
  display: flex;
}
.expertise1,
.expertise2 {
  display: flex;
  margin: 12px;
}
.experience {
  padding: 8px;
}
.experience1 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.icon-holder {
  padding-bottom: 70px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.contact-btn {
  margin-left: 420px;
}
.form-input {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.textarea,
.textInput {
  border: 1px solid #45ef;
  border-radius: 5px;
  width: 500px;
  padding: 10px;
  display: block;
}
.text-area-input {
  padding: 40px;
}
.skills {
  display: grid;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.skill-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0079bf;
}
.img-skill {
  filter: grayscale();
  margin: auto;
  max-width: 4rem;
}
.skillset {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.icon {
  margin-left: 18px;
  font-size: 52px;
  text-align: center;
}

.footer {
  background-color: rgb(36, 65, 190);
  padding: 10px;
}
.footer p {
  color: white;
  text-align: center;
}
